<aside>
    <input type="text" placeholder="Search">

    <div class="profile-pic"></div>
    <h4>Username</h4>

    <div class="relation-container">
        <h4>Relations</h4>
        <div class="profiles">
            <div class="profile">
                <div class="profile-pic-small"></div>
                <p>Jean Rene</p>
            </div>
            <div class="profile">
                <div class="profile-pic-small"></div>
                <p>Jean Rene</p>
            </div>
            <div class="profile">
                <div class="profile-pic-small"></div>
                <p>Jean Rene</p>
            </div>
        </div>
        <a href="">more</a>
    </div>

    <div class="relation-stream">
        <h3>Your Stream</h3>
    </div>
</aside>
