<div class="post-container">
    <div class="post-image">
        <img src="/assets/images/Energia.jpg" alt="">
        <div class="profile-pic"></div>
    </div>
    <div class="post-text">
        <h3>Title</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi perspiciatis velit. Esse, veritatis! Corporis ab molestias ducimus dolorum quae!</p>
        <div class="icons">
            <p>Likes <span>23</span></p>
            <p>Comms <span>12</span></p>
        </div>
    </div>
</div>

<div class="post-container">
    <div class="post-text only">
        <div class="line"></div>
        <div class="profile-pic"></div>
        <h3>Title</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi perspiciatis velit. Esse, veritatis! Corporis ab molestias ducimus dolorum quae!</p>
        <div class="icons">
            <p>Likes <span>23</span></p>
            <p>Comms <span>12</span></p>
        </div>
    </div>
</div>

<div class="post-container">
    <div class="post-text only-picture">
        <img src="/assets/images/Energia.jpg" alt="">
        <div class="profile-pic"></div>
    </div>
</div>

<div class="post-container">
    <div class="post-image">
        <img src="/assets/images/Energia.jpg" alt="">
        <div class="profile-pic"></div>
    </div>
    <div class="post-text">
        <h3>Title</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi perspiciatis velit. Esse, veritatis! Corporis ab molestias ducimus dolorum quae!</p>
        <div class="icons">
            <p>Likes <span>23</span></p>
            <p>Comms <span>12</span></p>
        </div>
    </div>
</div>

<div class="post-container">
    <div class="post-text only">
        <div class="line"></div>
        <div class="profile-pic"></div>
        <h3>Title</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi perspiciatis velit. Esse, veritatis! Corporis ab molestias ducimus dolorum quae!</p>
        <div class="icons">
            <p>Likes <span>23</span></p>
            <p>Comms <span>12</span></p>
        </div>
    </div>
</div>
